version: '3.8'

services:
  auth-service:
    build: ./services/auth-service
    ports:
      - "3000:3000"
    networks:
      - microservices-net

  user-service:
    build: ./services/user-service
    ports:
      - "5002:5002"
    networks:
      - microservices-net

  product-service:
    build: ./services/product-service
    ports:
      - "8081:8081"
    networks:
      - microservices-net

  order-service:
    build: ./services/order-service
    ports:
      - "3001:3001"
    networks:
      - microservices-net

  payment-service:
    build: ./services/payment-service
    ports:
      - "5001:5001"
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
